---
const { link, text, target = "_self" } = Astro.props;
---

<a
  href={link}
  target={target}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full text-neutral-900 dark:text-neutral-100 border-neutral-900 hover:bg-black hover:text-white dark:hover:bg-black dark:hover:text-white"
>
  <i class="bi bi-download me-1"></i> {text}
</a>
