name: cd

on:
  push:
    branches:
      - main

jobs:
  cd:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main

      - name: Deploy Using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 2233
          script: |
            echo "Navigating to deployment directory..."
            cd /github/rakaiseto.com/astro            
            echo "Pulling latest code from Git..."
            git pull
            
            npm run build
            pm2 delete rakaiseto-com
            pm2 start wrapper.js --name rakaiseto-com